*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
